click==6.7
Flask==0.12
gevent==1.1.1
greenlet==0.4.11
itsdangerous==0.24
Jinja2==2.9.5
locustio==0.7.5
MarkupSafe==0.23
msgpack-python==0.4.8
numpy==1.12.1
opencv-python==3.2.0.7
pyzmq==16.0.2
requests==2.13.0
virtualenv==15.1.0
Werkzeug==0.11.15
